<section class="hero is-primary is-small animated slideInDown">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item pacifico medium-text" routerLink="/home">
              Modern Web App
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item " routerLink="/home">
                Home
              </a>
              <a class="navbar-item" routerLink="/cart">
                Carrinho
              </a>
              <a class="navbar-item" routerLink="/cart">
                Meu Perfil
              </a>
              <span class="navbar-item">
                <a class="button is-primary is-inverted" routerLink="/">
                  <span class="icon">
                    <i class="fab fa fa-power-off"></i>
                  </span>
                  <span>Sair</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>