<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico lager-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="control">
            <input class="input is-large" type="text" placeholder="Nome">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="text" placeholder="SobreNome">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="email" placeholder="E-Mail">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="password" placeholder="Cpf">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="text" placeholder="Usuário">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="password" placeholder="Senha">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="password" placeholder="Confima Senha">
          </div>
          <br/>
          <div>
            <a class="button is-primary is-inverted is-outlined is-lager is-fullwidth">CADASTRAR</a>
            <br/>
            <a class="button is-link is-inverted is-outlined is-fullwidth">VOLTAR PARA O LOGIN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>