<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico lager-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">            
          <div class="notification is-danger" *ngIf="errors.length > 0">
            <ul>
              <li *ngFor="let err of errors">{{err.message}}</li>
            </ul>
          </div>
          <form [formGroup]="form">
            <div class="control">
              <input class="input is-large" type="text" placeholder="Nome" formControlName="firstName">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="text" placeholder="SobreNome" formControlName="lastName">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="email" placeholder="E-Mail" formControlName="email">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="text" placeholder="Cpf" formControlName="document">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="text" placeholder="Usuário" formControlName="userName">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="password" placeholder="Senha" formControlName="password">
            </div>
            <br/>
            <div class="control">
              <input class="input is-large" type="password" placeholder="Confima Senha"formControlName="confirmPassword">
            </div>
            <br/>
            <div>
                <button (click)="submit()" class="button is-primary is-inverted is-outlined is-large is-fullwidth" [disabled]="!form.valid">Cadastrar</button>              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>