<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico lager-text">
        Modern Web Store
      </h1> 
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="control">
            <input class="input is-large" type="text" placeholder="Usuário">
          </div>
          <br/>
          <div class="control">
            <input class="input is-large" type="password" placeholder="Senha">
          </div>
          <br/>
          <div >
            <a class="button is-primary is-inverted is-outlined is-lager is-fullwidth" routerLink="/home">ENTRAR</a>
            <br/>
            <a class="button is-link is-inverted is-outlined is-fullwidth">AINDA NÃO SOU CADASTRADO</a>
          </div>
        </div>
      </div>     
    </div>
  </div>
</section>
